/* Default value is no wrap, which is why it's only displaying on one row. Create another gutter div for another row*/

.grid {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
}

.gutters {
	margin: -10px 0 10px -10px;	
}

.gutters > div {
	padding: 10px 0 0 10px;
}

.grid div div {
	background-color: rgba(255, 255,255, 0.7);
	padding: 10px;
	height: 100%;
}

.half {
	flex-basis: 50%;
	
}

.third {
	flex-basis: 33.3333%
	
}

.fourth {
	flex-basis: 25%;
	
}